<div style="border: 1px solid gray;" class="col-md-8 mt-6 mx-auto">
  <div class="card-header bt-info text-center">
    <h5 style="color: #6a5acd;font-weight: bold; font-size: 50px;">Perfil</h5>
    <br>
    <img src="../../../assets/pics/avatar.jpg" alt="Beatles" style="width:150px;">
  </div>
  <br>
  <br>
  <style>
    table {
      border:1px solid slateblue;
      width: 100%;
      padding: 10px;
    }
    th, td {
      border:1px solid slateblue;
    }

     
    
    </style>
    
    <div>
      <table class="table">
        <thead class="table-success">
          <tr>
            <th>Numero de Control</th>
            <th>Nombre</th>
            <th>Area</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1222100810</td>
            <td>Maria Guadalupe Cruz Sierra</td>
            <td>Entornos Virtuales y Negocios Digitales</td>
            <td>LaLupita@gmail.com</td>
          </tr>
  
        </tbody>
      </table> 

    </div>
    <h2> <button type="button" class="btn btn-success">Reservar Libros</button> </h2>
  <div class="mb-3 mt-3">
    <h2>Mis Libros</h2>
    
    <table class="table">
      <thead class="table-color: #6a5acd">  
        <tr>
          <th>Titulo</th>
          <th>Autor</th> 
          <th>Año</th>
          <th>Editorial</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>La Metamorfosis</td>
          <td>Franz Kafka</td>
          <td>1916</td>
          <td>Casa del lobro latam</td>
          <td>28/06/23</td>
        </tr>
        <tr>
          <td>Cien Años de Soledad</td>
          <td>Gabriel García Márquez</td>
          <td>1967</td>
          <td>Casa del lobro latam</td>
          <td>30/06/23</td>
        </tr>
        <tr>
          <td>El ingenioso hidalgo don Quijote de la Mancha</td>
          <td>Miguel de Cervantes Saavedra</td>
          <td>1605</td>
          <td>Francisco de Robles</td>
          <td>03/07/23</td>
        </tr>
      </tbody>
    </table>
    
  </div>
  
  <br>


 
   
   <ol class="list-group ">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Multas</div>
        Total de multas
      </div>
     
      <span class="badge bg-primary rounded-pill">0</span>
     
   </ol>
   <br>
   <br>
  
   
</div>