<div class="card col-md-4 mt-6 mx-auto">
  <div class="card-header bt-info text-center">
    <h5 style="color: #6a5acd">Ingresar</h5>
  </div>
  <form action="consultar-libros">
    <img
      src="../../../assets/pics/logocreobien.png"
      alt="HTML5 Icon"
      width="128"
      height="150"
    />
    <div class="mb-3 mt-3">
      <div class="icono">
        <i class="fa-solid fa-user"></i>
      </div>
      <input type="text" class="form-control" placeholder="Numero de Control" />
    </div>
      <div class="mb-3">
          <div class="icono">
            <i class="fa-solid fa-key"></i>
          </div>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Contraseña"
          />
        </div>
      
        <button type="submit" class="btn btn-secondary" onclick="location.href='consultar-libros'" >Ingresar</button>
        <div id="emailHelp" class="form-text">
          Al ingresar, aceptas nuestras Condiciones de uso y Política de
          privacidad
        </div>
        <div id="emailHelp" class="form-text">
          ¿Aún no tienes una cuenta? <a href="registrarse">Registrate aquí</a>
        </div>
    </form>
  </div>
