<body>
  <!-- <div class="container"> -->
    <div class="d-flex justify-content-evenly align-items-center container">
      <div class="tab">
        <div class="text-center">
          <p class="full-width">Libros</p>
          <button
            mat-raised-button
            color="primary"
            class="full-width"
            routerLink="/libros"
          >
            Siguiente
          </button>
        </div>
      </div>
      <div class="tab"> 
        <div class="text-center">
          <p class="full-width">Alumnos</p>
          <button
            mat-raised-button
            color="primary"
            class="full-width"
            routerLink="/alumnos"
          >
            Siguiente
          </button>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </body>